body {
  background-color: #f3f4ef;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, 'Times New Roman';
}

.colPhoto {
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h2 {
  color: #333;
  font-size: 50px ;
  margin: 40px;
}

.bigLink {
  background-color: #333;
  font-size: 24px;
  color: #F3EEE4;
  text-decoration: none;
  margin: 15px;
}

.smallLink {
  background-color: #333;
  font-size: 24px;
  font-weight: bold;
  color: #F3EEE4;
  text-decoration: none;
  margin: 30px;
  padding: 10px 20px;
  border-radius:  10px;
}

.course {
  background-color: #F3EEE4;
  color: #333;
  padding: 20px;
  margin: 20px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #333;
  transition: 0.3s;
}

.course:hover{
  transform: translateY(-8px);
}

.courses {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}

.schedule {
  background-color: #F3EEE4;
  color: #333;
  padding: 20px;
  margin: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #333;
}

.scheduleList {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}


.btn{
  background-color: #6b9f8f;
  color: #F2F2EE;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  display: inline-flex;
  font-weight: 400;
  gap: 8px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}


.btn:hover{
  background-color: #2C756F;
  transform: translateY(-4px);
}

.select {
  background-color: #6b9f8f;
  color: #F2F2EE;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  display: inline-flex;
  font-weight: 400;
  gap: 8px;
}

.register {
  background-color: #F3EEE4;
  color: #333;
  padding: 20px;
  margin: 20px auto;
  width: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #333;
}

.registerInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  font-size: 16px;
}